footer {
    background-color: #000;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer .logo {
    font-size: 70px;
    color: #D8D12F;
    font-family: 'Ingrid Darling', cursive;
    margin-left: 50px;
    margin-right: 100px;
}

footer h5 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}

footer p, footer a {
    margin: 8px 0;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

footer a:hover {
    color: #f1c40f;
}

footer .contact-info, footer .quick-links, footer .social-media {
    margin-bottom: 20px;
    flex: 1;
    min-width: 200px;
}

footer .quick-links ul {
    list-style: none;
    padding: 0;
}

footer .social-media a {
    margin-right: 15px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
}

footer .footer-bottom {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 12px;
}