@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ingrid+Darling&family=Mochiy+Pop+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F0F0F;
    color: white;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto; 
    box-sizing: border-box; 
}

.section-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.section-header h1 {
    font-size: 3.5rem;
}

.section-header .highlight {
    color: #d8d12f;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.service {
    display: flex;
    align-items: center;
    background-color: #262626;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    flex-wrap: wrap;
}

.service img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 10px;
}

.service-content {
    padding: 20px;
    flex: 1;
}

.service-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.book-now {
    background-color: #d8d12f;
    color: #262626;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.book-now:hover {
    background-color: #e3e361;
}

.description {
    text-align: center;
    margin: 40px 0;
    font-size: 1.25rem;
}

.book-vet {
    max-width: 1000px; 
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.book-vet h2 {
    color: #d8d12f;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Mochiy Pop One', sans-serif; 
    margin-bottom: 20px;
    color: #ffffff;
}
.book-vet h2  span {
    color: #d8d12f;
}

.book-vet p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 30px;
}

#vet-booking-form {
    max-width: 800px; 
    margin: 0 auto 100px auto;
    padding: 40px 20px;
    background-color: #131313;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
    width: 48%; 
}

.form-group label {
    text-align: left;
    display: block;
    font-size: 16px;
    color: #d8d12f;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select { 
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #262626;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #ffffff;
}

.form-group select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23d8d12f" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(81%) sepia(12%) saturate(5901%) hue-rotate(1deg) brightness(96%) contrast(105%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(81%) sepia(12%) saturate(5901%) hue-rotate(1deg) brightness(96%) contrast(105%);
}

.book-vet .btn {
    display: block;
    padding: 20px 80px;
    background-color: #d8d12f;
    color: #0F0F0F;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto; 
    width: fit-content;
}

.book-vet .btn:hover {
    background-color: #e3e361;
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
    }

    .service img {
        width: 100%;
        max-width: none; 
    }

    .service-content {
        padding: 10px;
    }

    .section-header h1 {
        font-size: 2rem; 
    }
}
